/* CSS styles for the HTML elements */
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(165, 163, 163, 0.271);
}

div {
  border: 2px solid black;
  font-size: 2rem;
  padding: 50px;
  margin: 100px;
  margin-left: 400px;
  width: 30%;
  border-radius: 10px;
  transition: 0.3s
}
div:hover{
  scale: 1.02;
  background-color: white;
}
